section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-right: 5vw;
    margin-left: 5vw;
}

article {

    padding: 10px;
    margin: 1em;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

#filter nav {
    text-align: center;
}

#filter button {
    font-size: 1.5rem;
    margin: 1vw;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    background: none;
    left: 7vw;
    top: 14.5vw;
    border-radius: 10px;
    cursor: pointer;
}


#filter .valgt {
    background-color: #272726;
    color: white;
    border-radius: 30px;
    padding: 12px 30px;
}

/*
p {
    font-size: 1.1rem;
    color: black;
}
*/

h2,
h3,
h4 {
    text-align: center;
}

h3 {
    color: grey;
}

/*----------------------------- Media Q's -----------------------------*/

@media only screen and (min-width: 800px) {


    #filter button:hover {
        background-color: #8faa7d;
        color: white;
        transition: 0.6s ease;
        border-radius: 30px;
        padding: 12px 30px;
    }

    article {
        cursor: pointer;
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
    }

    article:hover {
        opacity: 0.2;
        /*    background-color: #FCF69A;*/
    }

}
