/*----------------------------- Section 1 -----------------------------*/

#section_1 {
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

#section_1 h1 {
    margin-bottom: -20px;
}


#udvalgt_ol img {
    background-size: cover;
    max-width: none;
    width: 80%;
    height: auto;
    margin: 0;
}

#info {
    margin-top: -100px;
}

#section_2 {
    margin: auto;
    text-align: center;
    /*    margin-bottom: 74px;*/
    padding: 50px;
    background-color: #fcf69a;
    margin-top: 50px;
    margin-bottom: 65px;
}

.forside_knap {
    font-size: 1.3rem;
    margin: 1vw;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    background: none;
    left: 7vw;
    top: 14.5vw;
    border-radius: 10px;
    cursor: pointer;
    background-color: #272726;
    color: white;
    border-radius: 30px;
    padding: 12px 30px;
}

.forside_knap:hover {
    background-color: #8faa7d;
    color: white;
    transition: 0.6s ease;
    border-radius: 30px;
    padding: 12px 30px;
}

/*----------------------------- Section 3 -----------------------------*/

.om_knap {
    font-size: 1rem;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    cursor: pointer;
    background: none;
    color: black;
    text-decoration: underline;
    padding: 0;
}

#kort_om {
    margin: 20px;
    text-align: center;
}

#section_3 img {
    background-size: cover;
    max-width: none;
    width: 100%;
    height: auto;
}

#section_3 {
    position: relative;
    text-align: center;
    margin-bottom: 0;
}

/*----------------------------- Media Q's -----------------------------*/

@media only screen and (min-width: 800px) {

    #section1_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #info {
        margin-top: -60px;
        text-align: left;

    }

    #info h1 {
        text-align: left;
    }

    #info button {
        margin-left: 0;
    }

    #section_3 img {
        position: relative;
    }

    #kort_om {
        background-color: white;
        opacity: 0.9;
        max-width: 400px;
        text-align: left;
        padding: 20px;
        margin: auto;
        z-index: 100;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

@media only screen and (min-width: 1000px) {

    #info {
        margin-top: -10px;
    }

}

@media only screen and (min-width: 1200px) {

    #info {
        margin-top: 50px;
    }

}
