article {
    background-color: #FCF69A;
    padding-bottom: 20px;
}

section {
    margin: 20px;
}

.billede {
    max-width: 100%;
    object-fit: contain;
    padding-top: 200px;
}

button {
    font-size: 1.3rem;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    background: none;
    border-radius: 30px;
    background-color: #272726;
    color: white;
    cursor: pointer;
    position: absolute;
    margin: 110px;
    padding: 12px 30px;
    margin-left: 10px;
}

.webshop {
    font-size: 1.3rem;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    background: none;
    color: black;
    cursor: pointer;
    margin: 20px;
}

.beskrivelse {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    font-size: 1rem;
    text-transform: none;
    margin: 20px;
}

.type {
    text-align: center;
    color: grey;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    margin: 20px;
}

.navn {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
    margin: 20px;
    padding-top: 15px;
}

.pris {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 1rem;
    text-transform: none;
    margin: 20px;
}

.ikoner {
    padding-bottom: 30px;
    margin: 10px;
}



@media only screen and (min-width: 800px) {


    .navn {
        /*        padding-top: 258px;*/
        text-align: left;
    }

    .type {
        text-align: left;
    }

    .pris {
        text-align: left;
    }

    .beskrivelse {
        text-align: left;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 120px;
        margin-right: 120px;
    }

    .billede {
        padding-top: 200px;
    }

    button:hover {
        background-color: #8faa7d;
        transition: 0.6s ease;
    }

    article {
        margin-top: 220px;
    }

    button {
        margin-left: 0px;
    }

}
