.billede {
    max-width: 100%;
    object-fit: contain;
    padding-top: 200px;
}

button {
    font-size: 1.3rem;
    margin: 1vw;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    background: none;
    border-radius: 30px;
    background-color: #272726;
    color: white;
    cursor: pointer;
    position: absolute;
    margin: 110px;
    padding: 12px 30px;
    margin-left: 10px;
}

.webshop {
    font-size: 1.3rem;
    margin: -50vw;
    font-family: 'Bebas Neue', cursive;
    border-style: none;
    background: none;
    border-radius: 30px;
    background-color: #FDA6D0;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 12px 30px;
    margin-left: 28%;
    margin-top: 20px;
}

.beskrivelse {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
    margin: 30px;
    font-size: 1rem;
    text-transform: none;
}

.type {
    text-align: center;
    color: grey;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

.navn {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}

.pris {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 1rem;
    text-transform: none;
}

.ikoner {
    padding-bottom: 30px;
}



@media only screen and (min-width: 600px) {



    section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .beskrivelse {
        margin: 20px;
    }

    .billede {
        padding-top: 200px;
    }

    .webshop {
        margin-left: 35%;
    }
}




@media only screen and (min-width: 800px) {


    .navn {
        padding-right: 27px;
        padding-top: 258px;
    }

    section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .billede {
        padding-top: 300px;
    }

    .webshop {
        margin-left: 25%;
    }

    button:hover {
        background-color: #8faa7d;
        transition: 0.6s ease;
    }

    .webshop:hover {
        background-color: #8faa7d;
        transition: 0.6s ease;
    }

}





@media only screen and (min-width: 1200px) {


    .billede {
        max-width: 80%;
        padding-top: 300px;
        margin-left: 100px;
    }

    .webshop {
        margin-left: 35%;
    }
}



@media screen and (max-width: 1440px) {

    width: 100%;
    padding-right: 5vw;


    .billede {
        max-width: 80%;


        margin-left: 100px;
    }
}
